.height {
    background-color: white;
    padding: 10px;
}
.btn {
    width: 100%;
    margin-bottom: 5px;
}
.center {
    text-align: center;
    border-bottom: 1px solid lightgrey;
}
.pos {
    position: fixed;
}